$primary-color: #640FC5;
$secondary-color: #2ecc71;
$title-color:#28064F;
$background-color: #f8f9fa;
$text-color: #000000;
$nav-text-color: white;
$paragraph-color: #f0f0f094;
$button-blue: #3498db;
$button-orange: #e67e22;
$button-green: #2ecc71;