body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-medium;
}

header {
  background-color: $primary-color;

  nav {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      color:  $text-color;
    }

    .logo {
      font-weight: bold;
    } 
   

    ul {
      display: flex;
      gap: $spacing-medium;

      li a {
        color:$nav-text-color;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.hero {
  background-color: $primary-color;
  color: white;
  padding: $spacing-xlarge 0;
  margin-top: 0;
  position: relative;
  overflow: visible;

  .container {
    display: flex;
    align-items: flex-start; 
    gap: $spacing-xlarge;
    justify-content: space-between; 
  }

  .hero-content {
    flex: 1; 
    animation: fadeInSlideDown 1s ease-out;

    h1 {
      font-size: 5rem;
      line-height: 85px;
      margin-bottom: $spacing-medium;
      animation: fadeInSlideDown 1s ease-out 0.2s both;
      color: $title-color;
    }

    p {
      color: $paragraph-color;
      margin-bottom: $spacing-large;
      animation: fadeInSlideDown 1s ease-out 0.4s both;
    }

    .buttons {
      display: flex;
      gap: $spacing-medium;
      animation: fadeInSlideDown 1s ease-out 0.6s both;
    }
  }

  .hero-image {
    flex: 0 1 auto; 
    animation: fadeInSlideDown 1s ease-out 0.8s both;
    align-self: flex-start;
    position: relative;
    bottom: -90px;
    border-radius: 10px;
    border: 1px solid white;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}




